--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities_activity; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.activities_activity (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint NOT NULL,
    category character varying(50) NOT NULL,
    date date NOT NULL,
    duration character varying(50) NOT NULL,
    image character varying(100),
    instructor character varying(100) NOT NULL,
    level character varying(50) NOT NULL,
    location character varying(255) NOT NULL,
    max_participants integer NOT NULL,
    price character varying(50) NOT NULL,
    rating double precision NOT NULL,
    sport_zen boolean NOT NULL,
    "time" time without time zone NOT NULL,
    is_public boolean NOT NULL,
    venue character varying(10) NOT NULL,
    CONSTRAINT activities_activity_max_participants_check CHECK ((max_participants >= 0))
);


ALTER TABLE public.activities_activity OWNER TO "Joa_user";

--
-- Name: activities_activity_attendees; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.activities_activity_attendees (
    id bigint NOT NULL,
    activity_id bigint NOT NULL,
    customuser_id bigint NOT NULL
);


ALTER TABLE public.activities_activity_attendees OWNER TO "Joa_user";

--
-- Name: activities_activity_attendees_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.activities_activity_attendees ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_activity_attendees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.activities_activity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "Joa_user";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "Joa_user";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "Joa_user";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: companies_company; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.companies_company (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    location character varying(255) NOT NULL,
    image character varying(100),
    rating double precision NOT NULL,
    sport_zen boolean NOT NULL,
    is_public boolean NOT NULL
);


ALTER TABLE public.companies_company OWNER TO "Joa_user";

--
-- Name: companies_company_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.companies_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.companies_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "Joa_user";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "Joa_user";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "Joa_user";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "Joa_user";

--
-- Name: subscriptions_subscriptionrequest; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.subscriptions_subscriptionrequest (
    id bigint NOT NULL,
    plan character varying(20) NOT NULL,
    company_name character varying(255) NOT NULL,
    admin_name character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(50) NOT NULL,
    message text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint
);


ALTER TABLE public.subscriptions_subscriptionrequest OWNER TO "Joa_user";

--
-- Name: subscriptions_subscriptionrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.subscriptions_subscriptionrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_subscriptionrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.users_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    type character varying(20) NOT NULL,
    preferences jsonb NOT NULL,
    avatar character varying(100)
);


ALTER TABLE public.users_customuser OWNER TO "Joa_user";

--
-- Name: users_customuser_groups; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.users_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_customuser_groups OWNER TO "Joa_user";

--
-- Name: users_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.users_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.users_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_user_permissions; Type: TABLE; Schema: public; Owner: Joa_user
--

CREATE TABLE public.users_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_customuser_user_permissions OWNER TO "Joa_user";

--
-- Name: users_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: Joa_user
--

ALTER TABLE public.users_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: activities_activity; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: activities_activity_attendees; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: companies_company; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.companies_company (id, name, location, image, rating, sport_zen, is_public) FROM stdin;
1	Zen Attitude Gym	Paris 11e	company_images/zen_attitude.png	4.7	t	t
2	Harmony Yoga Studio	Lyon 2e	company_images/harmony_yoga.png	4.5	t	t
3	Ocean Swim Center	Marseille 7e	company_images/ocean_swim.png	4.2	t	t
4	Peaceful Boxing Club	Bordeaux Centre	company_images/peaceful_boxing.png	4.6	t	t
5	Mindful Movement Studio	Toulouse Capitole	company_images/mindful_movement.png	4.8	t	t
6	Tranquil Pilates Hub	Nice Centre	company_images/tranquil_pilates.png	4.4	t	t
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	customuser
7	activities	activity
8	companies	company
9	companies	plan
10	companies	invitation
11	subscriptions	subscriptionrequest
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: subscriptions_subscriptionrequest; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: users_customuser; Type: TABLE DATA; Schema: public; Owner: Joa_user
--



--
-- Data for Name: users_customuser_groups; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.users_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: Joa_user
--

COPY public.users_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
1	11	24
2	11	21
3	11	22
4	11	23
\.


--
-- Name: activities_activity_attendees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.activities_activity_attendees_id_seq', 176, true);


--
-- Name: activities_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.activities_activity_id_seq', 201, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: companies_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.companies_company_id_seq', 6, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 87, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 37, true);


--
-- Name: subscriptions_subscriptionrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.subscriptions_subscriptionrequest_id_seq', 7, true);


--
-- Name: users_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.users_customuser_groups_id_seq', 1, false);


--
-- Name: users_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.users_customuser_id_seq', 22, true);


--
-- Name: users_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Joa_user
--

SELECT pg_catalog.setval('public.users_customuser_user_permissions_id_seq', 4, true);


--
-- Name: activities_activity_attendees activities_activity_atte_activity_id_customuser_i_7108d857_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity_attendees
    ADD CONSTRAINT activities_activity_atte_activity_id_customuser_i_7108d857_uniq UNIQUE (activity_id, customuser_id);


--
-- Name: activities_activity_attendees activities_activity_attendees_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity_attendees
    ADD CONSTRAINT activities_activity_attendees_pkey PRIMARY KEY (id);


--
-- Name: activities_activity activities_activity_name_key; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_name_key UNIQUE (name);


--
-- Name: activities_activity activities_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: companies_company companies_company_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.companies_company
    ADD CONSTRAINT companies_company_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: subscriptions_subscriptionrequest subscriptions_subscriptionrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.subscriptions_subscriptionrequest
    ADD CONSTRAINT subscriptions_subscriptionrequest_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_email_key UNIQUE (email);


--
-- Name: users_customuser_groups users_customuser_groups_customuser_id_group_id_76b619e3_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_customuser_id_group_id_76b619e3_uniq UNIQUE (customuser_id, group_id);


--
-- Name: users_customuser_groups users_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_pkey PRIMARY KEY (id);


--
-- Name: users_customuser_user_permissions users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: users_customuser_user_permissions users_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_username_key UNIQUE (username);


--
-- Name: activities_activity_attendees_activity_id_bf9e3b8a; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX activities_activity_attendees_activity_id_bf9e3b8a ON public.activities_activity_attendees USING btree (activity_id);


--
-- Name: activities_activity_attendees_customuser_id_3440fc26; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX activities_activity_attendees_customuser_id_3440fc26 ON public.activities_activity_attendees USING btree (customuser_id);


--
-- Name: activities_activity_created_by_id_b5334206; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX activities_activity_created_by_id_b5334206 ON public.activities_activity USING btree (created_by_id);


--
-- Name: activities_activity_name_5ebe762e_like; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX activities_activity_name_5ebe762e_like ON public.activities_activity USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: subscriptions_subscriptionrequest_created_by_id_c39c3988; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX subscriptions_subscriptionrequest_created_by_id_c39c3988 ON public.subscriptions_subscriptionrequest USING btree (created_by_id);


--
-- Name: users_customuser_email_6445acef_like; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_email_6445acef_like ON public.users_customuser USING btree (email varchar_pattern_ops);


--
-- Name: users_customuser_groups_customuser_id_958147bf; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_groups_customuser_id_958147bf ON public.users_customuser_groups USING btree (customuser_id);


--
-- Name: users_customuser_groups_group_id_01390b14; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_groups_group_id_01390b14 ON public.users_customuser_groups USING btree (group_id);


--
-- Name: users_customuser_user_permissions_customuser_id_5771478b; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_user_permissions_customuser_id_5771478b ON public.users_customuser_user_permissions USING btree (customuser_id);


--
-- Name: users_customuser_user_permissions_permission_id_baaa2f74; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_user_permissions_permission_id_baaa2f74 ON public.users_customuser_user_permissions USING btree (permission_id);


--
-- Name: users_customuser_username_80452fdf_like; Type: INDEX; Schema: public; Owner: Joa_user
--

CREATE INDEX users_customuser_username_80452fdf_like ON public.users_customuser USING btree (username varchar_pattern_ops);


--
-- Name: activities_activity_attendees activities_activity__activity_id_bf9e3b8a_fk_activitie; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity_attendees
    ADD CONSTRAINT activities_activity__activity_id_bf9e3b8a_fk_activitie FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_activity_attendees activities_activity__customuser_id_3440fc26_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity_attendees
    ADD CONSTRAINT activities_activity__customuser_id_3440fc26_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_activity activities_activity_created_by_id_b5334206_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_created_by_id_b5334206_fk_users_cus FOREIGN KEY (created_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subscriptions_subscriptionrequest subscriptions_subscr_created_by_id_c39c3988_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.subscriptions_subscriptionrequest
    ADD CONSTRAINT subscriptions_subscr_created_by_id_c39c3988_fk_users_cus FOREIGN KEY (created_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_gro_customuser_id_958147bf_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_gro_customuser_id_958147bf_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_groups_group_id_01390b14_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_group_id_01390b14_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_customuser_id_5771478b_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_customuser_id_5771478b_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_permission_id_baaa2f74_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: Joa_user
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_permission_id_baaa2f74_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

